.menu-wrapper {
  width: 300px !important;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(4px);
  background-color: rgb(26 26 26 / 50%);
  position: absolute;
  top: 60px;
  right: 40px;
  border-radius: 5px;
  border: 1px solid #333333;
  box-sizing: content-box !important;
}

.menu-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  left: 245px;
  /* bottom: 100%;
  width: 0;
  height: 0; */
  /* border-bottom: 10px solid #161616;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; */
  background: url("../../img/toolttipup2.png");
  left: 245px;
  top: -11px;
  width: 20px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
}

.accordion-details {
  padding: 0 !important;
}

.accordion-title {
  font-size: 12px !important;
  font-family: "Roboto Condensed", sans-serif !important;
  color: rgb(242 242 242 / 0.25);
}

[class*="expanded"] .accordion-title {
  color: #e6e6e6;
}

.accordion-title-icon {
  position: absolute;
  top: 5px;
  left: 20px;
  height: 24px;
  width: 24px;
  font-size: 11px;
  /* font-family: "Roboto"; */
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid rgb(242 242 242 / 0.25);
  border-radius: 9px;
  color: rgb(242 242 242 / 0.25);
  line-height: 24px;
  text-align: center;
  overflow: hidden;
}

[class*="expanded"] .accordion-title-icon {
  color: #e6e6e6;
  border: 1px solid #e6e6e6;
}

.MuiPaper-elevation1 {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.accordion-summary {
  background: rgb(255 255 255 / 6%) !important;
}

.accordion-summary:hover {
  background: rgb(255 255 255 / 12%) !important;
}

[class*="expanded"] .accordion-summary {
  background: transparent !important;
}

.error-nodata {
  text-align: center;
  font-family: "Roboto";
  color: #565656;
  font-size: 12px;
  text-transform: capitalize;
}
