html,
.App,
body,
#root {
  width: 1600px;
  height: 1180px;
  position: relative;
  padding: 0;
  margin: 0;
}

.App {
  margin: 0;
  padding: 0;
  background-image: url("../../img/bg.png");
  background-size: 1600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #131313;
  min-height: 900px;
}
